# Computation using numpy functions

The workspace at the link below has a notebook with which you will read in some data from a (fictional) previous section of ECE-GY 6143. The data records the exam scores of each of 50 students on 4 exams.

Then, you will use **numpy** functions to compute the overall course grades according to the following grading scheme:

- First, for each exam, shift student grades up (if required) so that the maximum score on the exam is exactly 100. For example, if the highest grade on Exam 0 was a 90, add 10 points to everyone's score on Exam 0.
- Each student's course grade should be their average exam grade (after the adjustment described above), with their lowest exam grade dropped. For example, if a student's (adjusted) exam grades are
    > [71, 73, 81, 93]

then that student's course grade should be 82.333.

For full credit, implement your solution using efficient **numpy** functions without any explicit **for** loop, in exactly two lines of code. Don't hard-code any values - write code that will work for any comparable dataset, not only this one. (The grader will evaluate your code on a different data set.)

| Name	| Type	| Description |
| --- | --- | --- |
**adjusted_x** |	2d numpy array |	Adjusted exam scores, curved so that the highest grade per exam is exactly 100.
**grades** |	1d numpy array (length 50) |	Per-student overall course grade

In [1]:
import numpy as np

Read in the data to a `numpy` array in `x`. If you want to, you can add code to the following cell to explore `x` (for example, see its shape).

In [2]:
x = np.genfromtxt('data.csv',delimiter=',')

Write exactly *two* lines of code to compute the 'adjusted' exam scores for all students, then to compute the overall course grades.

In [3]:
#grade (write your code in this cell and DO NOT DELETE THIS LINE)
adjusted_x = x + 100 - np.max(x, axis=0)
grades = np.mean(np.sort(adjusted_x)[:, 1:], axis=1)

You can test your work by looking at the output in the next cells (which you can also modify as you like - these cells will not be graded):

In [4]:
adjusted_x

array([[ 61.,  94., 100.,  63.],
       [ 86.,  99.,  98.,  71.],
       [ 84.,  78.,  70.,  80.],
       [ 68.,  62.,  92.,  99.],
       [ 98.,  82.,  85.,  94.],
       [ 78.,  93.,  74.,  64.],
       [ 64.,  98.,  97.,  85.],
       [ 61.,  85.,  73.,  74.],
       [ 86.,  77.,  88.,  84.],
       [ 65.,  68.,  84.,  63.],
       [ 71.,  73.,  87.,  77.],
       [ 96.,  97.,  65.,  77.],
       [ 82.,  61.,  90.,  99.],
       [ 71.,  76.,  82.,  85.],
       [ 94.,  83.,  76.,  79.],
       [ 74.,  93.,  94., 100.],
       [100.,  99.,  80.,  91.],
       [ 88.,  86.,  94.,  69.],
       [ 90.,  66.,  99.,  69.],
       [ 68.,  64.,  95.,  89.],
       [ 61.,  93.,  71.,  95.],
       [100.,  62.,  80.,  77.],
       [ 94.,  82.,  80.,  87.],
       [ 84.,  71.,  64.,  83.],
       [ 97.,  63.,  92.,  93.],
       [ 65.,  77.,  64.,  84.],
       [ 87.,  87.,  92.,  61.],
       [ 93.,  84.,  88.,  94.],
       [ 86.,  99.,  86.,  86.],
       [ 65.,  93.,  74.,  75.],
       [ 70.,  98.,  80.,  71.],
       [ 91.,  89.,  99.,  98.],
       [ 83.,  91.,  87.,  62.],
       [ 66.,  63.,  80.,  68.],
       [ 67.,  80.,  69.,  79.],
       [ 79.,  81.,  65.,  92.],
       [ 92.,  92.,  70.,  83.],
       [ 78.,  96.,  76.,  61.],
       [ 78.,  83.,  88.,  75.],
       [100., 100.,  73.,  95.],
       [ 93.,  87.,  76.,  62.],
       [ 80.,  63.,  86.,  90.],
       [100.,  70.,  71.,  85.],
       [ 78.,  61.,  64.,  79.],
       [ 63.,  86.,  80.,  87.],
       [ 72.,  81.,  79.,  69.],
       [ 91.,  86.,  84.,  95.],
       [ 69.,  61.,  91.,  74.],
       [ 75.,  69.,  75.,  77.],
       [ 91.,  81.,  80.,  83.]])

In [5]:
grades

array([85.66666667, 94.33333333, 80.66666667, 86.33333333, 92.33333333,
       81.66666667, 93.33333333, 77.33333333, 86.        , 72.33333333,
       79.        , 90.        , 90.33333333, 81.        , 85.33333333,
       95.66666667, 96.66666667, 89.33333333, 86.        , 84.        ,
       86.33333333, 85.66666667, 87.66666667, 79.33333333, 94.        ,
       75.33333333, 88.66666667, 91.66666667, 90.33333333, 80.66666667,
       83.        , 96.        , 87.        , 71.33333333, 76.        ,
       84.        , 89.        , 83.33333333, 83.        , 98.33333333,
       85.33333333, 85.33333333, 85.33333333, 73.66666667, 84.33333333,
       77.33333333, 90.66666667, 78.        , 75.66666667, 85.        ])